i, a{
    color: black !important;
}

#accordionSidebar
{
    background-color: #F5D0A9 !important;
}
.text-primary{
    color: black !important;

}

#fecha {
    display: block;
    width: 98%;
    margin: auto;
}
#fecha input{
    width: 100%;
}

.ui-message-error{
    margin-bottom: 1rem;
}
